@use 'variables' as *;

.spacer {
  flex: 1 1 auto;
}

.menu-button {
  display: none;
}

.desktop-nav {
  display: flex;
  gap: 0.5rem;
}

.lang-switcher {
  margin-inline-start: 0.5rem;
}

@media (max-width: $breakpoint-mobile) {
  .menu-button {
    display: block;
  }

  .desktop-nav {
    display: none;
  }
}
