<section id="education" class="education">
  <app-expandable-panel>
    <span header>{{ translations.EDUCATION.TITLE | translate }}</span>
    <mat-list>
      @for (entry of entries(); track entry.institution) {
        <mat-list-item
          role="button"
          tabindex="0"
          (click)="openDetails(entry)"
          (keydown.enter)="openDetails(entry)"
          (keydown.space)="openDetails(entry)"
        >
          @if (entry.image) {
            <img
              matListItemIcon
              ngSrc="assets/logos/{{ entry.image }}"
              width="50"
              height="50"
              [alt]="entry.institution | translate"
            />
          }
          <span matListItemTitle>{{ entry.institution | translate }}</span>
          <span matListItemLine>{{ entry.degree | translate }}</span>
        </mat-list-item>
      }
    </mat-list>
  </app-expandable-panel>
</section>