@use 'variables' as *;

.skills {
  display: flex;
  justify-content: flex-start;
}

@media (max-width: $breakpoint-mobile) {
  .skills {
    justify-content: flex-start;
    margin-right: 0;
  }

  .skills ::ng-deep .mat-expansion-panel-body {
    padding: 0;
  }
}
