@use 'variables' as *;

.skills {
  display: flex;
  justify-content: flex-start;
  margin-right: 10vw;
}

@media (max-width: $breakpoint-mobile) {
  .skills {
    justify-content: flex-start;
    margin-right: 0;
  }
}
