@use 'variables' as *;

.profile {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.profile__text {
  text-align: justify;

  h1 {
    margin: 0;
  }

  .profile-name {
    color: var(--mat-sys-tertiary);
  }

  p {
    font-size: 1.125rem;
    line-height: 1.6;
    color: var(--mat-sys-on-surface-variant);
    margin-top: 0.75rem;
    max-width: 36rem;
  }

  .motto {
    color: var(--brand-surface);
    text-decoration: underline;
    margin-top: 0;
    text-align: start;
  }
}

.profile__image img {
  width: clamp(15rem, 25vw, 20rem);
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: $breakpoint-mobile) {
  .profile {
    flex-direction: column;
    text-align: center;
  }
}
