.profile {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.profile__text h1 {
  margin: 0;
}

.profile__image img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .profile {
    flex-direction: column;
    text-align: center;
  }
}
