@use 'variables' as *;

:host {
  scroll-margin-top: 5rem;

  mat-expansion-panel {
    width: 20vw;
    max-width: 80vw;
    box-shadow: none;
    border-left: 5px solid var(--brand-white-mate);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: width 0.3s ease;
    background-color: var(--brand-black-mate);
    padding: 0;
    &.wide {
      width: 80vw;
    }
  }
}

mat-expansion-panel-header {
  position: relative;
}

.panel-content {
  padding-block-start: 1rem;
}

.click-overlay {
  position: absolute;
  inset: 0;
  cursor: pointer;
  z-index: 1;
}

@media (max-width: $breakpoint-mobile) {
  :host {
    mat-expansion-panel {
      width: 100vw;
      max-width: 90vw;
      &.wide {
        width: 100vw;
      }
    }
  }
}
